.button {
    background-color: #549EED;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    align-items: center;
    font-family: 'Helvetica';
}

.row {
  height: 300px;
  width: 300px;
  align-items: center;
  vertical-align: middle;
  display: inline-block;
}

.img-circle {
    border-radius: 50%;
}

.dashboard {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
