.container {
    display: inline-block;
    text-align: center;
    position:relative;
    left:50%;
    top:50%;
    margin-left:-200px;
}

.login-form {
  display: inline-block;
  text-align: center;
  position:relative;
  left:50%;
  top:50%;
  margin-left:-200px;
}
