<div class="login-form">
<div *ngIf="!auth.user" class="container">
  <h3>Sign Up:</h3>
  <input [(ngModel)]="newUser.email" type="text" placeholder="Email"/>
  <input [(ngModel)]="newUser.password" type="password" placeholder="Password"/>
  <input [(ngModel)]="newUser.password_confirmation" type="password" placeholder="Confirm Passsword"/>
  <input (click)="signUp()" type="submit" value="Sign Up"/>
</div>
<br>

<div *ngIf="!auth.user" class="container">
  <h3>Sign In:</h3>
  <input [(ngModel)]="user.email" type="text" placeholder="Email"/>
  <input [(ngModel)]="user.password" type="password" placeholder="Password"/>
  <input (click)="signIn()" type="submit" value="Log in"/>
</div>
<br>
</div>

<div class="signed-in">

<div *ngIf="auth.user" class="container">
  <h3>Change Password:</h3>
  <input [(ngModel)]="oldPassword" type="password" placeholder="Old"/>
  <input [(ngModel)]="newPassword" type="password" placeholder="New"/>
  <input (click)="changePassword()" type="submit" value="Change"/>

</div>
<br>

<div *ngIf="auth.user" class="container">
  <h3>Log Out:</h3>
  <input (click)="signOut()" type="submit" value="Sign Out"/>
</div>
<br>
<br>
<div *ngIf="auth.user" class="container">I see a user!!! <strong>{{auth.user.email}}</strong></div>

</div>
