<h2>Update Gear</h2>

<form (ngSubmit)="updateGear(updatedGear)">
  <label for="title">Title:</label>
  <input name="title" [(ngModel)]="updatedGear.title">
<br>
  <label for="description">Description:</label>
  <input name="description" [(ngModel)]="updatedGear.description">
<br>
  <label for="price">Price:</label>
  <input name="price" [(ngModel)]="updatedGear.price">
<br>
  <label for="availability">Available for rent?:</label>
  <input type="radio" name="availability" value="Yes" [(ngModel)]="updatedGear.availability"> Yes
  <input type="radio" name="availability" value="No" [(ngModel)]="updatedGear.availability"> No<br>

  <label for="image_URL">Photograph:</label>
  <input name="image_URL" [(ngModel)]="updatedGear.image_URL">

  <input type="submit" value="Update">
</form>
