<!DOCTYPE html>
<html>
<head>
  <title>Welcome to {{title}}</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a routerLink="/">gearShare</a></li>
        <li *ngIf="!auth.user"><a routerLink="login">login</a></li>
        <li *ngIf="auth.user"><a routerLink="login">sign out</a></li>
        <li *ngIf="auth.user"><a routerLink="my-dashboard">myDashboard</a></li>
        <li><a routerLink="gear">gear</a></li>
        <li><a routerLink="gear/new">create</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    &copy; gearShare
  </footer>
</body>
</html>
