<!DOCTYPE html>
<html>
<head>
  <title>Welcome to {{title}}</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX5745375.jpg" alt="gears" width="40px" height="40px"><a routerLink="/">gearShare</a></li>
        <li *ngIf="!auth.user"><a routerLink="login">login</a></li>
        <li *ngIf="auth.user"><a routerLink="login">sign out</a></li>
        <li *ngIf="auth.user"><a routerLink="my-dashboard">myDashboard</a></li>
        <li><a routerLink="gear">allGear</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h4 *ngIf="!auth.user">Welcome to gearShare, an online community that connects musicians looking to share equipment. If you need gear in a pinch, you've come to the right place!</h4>
    <router-outlet></router-outlet>
  </main>
  <footer>
    &copy; gearShare
  </footer>
</body>
</html>
