img {
  height: 100px;
  width: 100px;
}

.row {
  height: 300px;
  border-style: groove;
  border-width: 5px;
  width: 300px;
  float: left;
  align-items: center;
  vertical-align: middle;
  display: inline-block;
}
