<h2>Gear:</h2>
<p *ngIf="error">There was an error. Please try again.</p>

<div *ngIf="allGears" class="gears">
  <div class="row-gear" *ngFor="let gear of allGears">
    <ul style="list-style: none;">
      <li>
        <h2>
          <a routerLink="/gear/{{gear.id}}">
            {{gear.title}}
          </a>
        </h2>
        <br>
      </li>
      <img [src]="gear.image_URL" [alt]="gear.picture">
      <li>
        <br>
        <p>
          {{gear.description}}
        </p>
      </li>
      <li>
        <h4>
          {{gear.price}}
        </h4>
      </li>
    </ul>
  </div>
</div>
