<h2 *ngIf="searchedGear.length >= 1">Search Results:</h2>
<p *ngIf="error">There was an error. Please try again.</p>

<section>
    <input [(ngModel)]='search' class="form-control" type="text" placeholder="Search Gear" (keyup)='searchGear(search)'/>
    <span class="glyphicon glyphicon-search"></span>
</section>
<br>

<h4 *ngIf="searchedGear.length == 0 && search.length > 4 && !error">Please refine your search or try again</h4>

<div class="gears">
  <div class="row-gear" *ngFor="let gear of searchedGear">
    <ul style="list-style: none;">
      <li>
        <h2>
          <a routerLink="/gear/{{gear.id}}">
            {{gear.title}}
          </a>
        </h2>
      </li>
      <img [src]="gear.image_URL" [alt]="gear.picture">
      <li>
        <p>
          {{gear.description}}
        </p>
      </li>
      <li>
        <h4>
          {{gear.price}}
        </h4>
      </li>
    </ul>

  </div>
</div>
