img {
  height: 100px;
  width: 100px;
}

.row-gear {
  height: 400px;
  border-style: groove;
  border-width: 5px;
  width: 400px;
  float: left;
  align-items: center;
  vertical-align: middle;
  display: inline-block
}

span {
  display: block;
}
