<h2 *ngIf="myGears.length >= 1">My Gear:</h2>
<p *ngIf="!auth.user">Please log in to view your gear</p>
<p *ngIf="error">There was an error. Please try again.</p>
<h4 *ngIf="myGears.length == 0 && !error && auth.user">Click Add Gear To Start Sharing</h4>
<div class="gears">
  <div class="row" *ngFor="let gear of myGears">
    <ul style="list-style: none;">
      <li>
        <h2>
          <a routerLink="/gear/{{gear.id}}">
            {{gear.title}}
          </a>
        </h2>
      </li>
      <img [src]="gear.image_URL" [alt]="gear.picture">
      <li>
        <p>
          {{gear.description}}
        </p>
      </li>
      <li>
        <h4>
          {{gear.price}}
        </h4>
      </li>
      <li>
        <a routerLink="/gear/edit/{{gear.id}}"><button class="button">
          Edit
        </button>
        </a>
        <button class="button" (click)='deleteGear(gear)'>Delete</button>
        <!-- <form (ngSubmit)="deleteGear(gear)">
          <input type="submit" value="Delete"/>
        </form> -->
      </li>
    </ul>
  </div>
</div>
