img {
  height: 100px;
  width: 100px;
}

.row {
  height: 400px;
  border-style: groove;
  border-width: 5px;
  width: 400px;
  float: left;
  align-items: center;
  vertical-align: middle;
  display: inline-block
}

.button {
    background-color: #549EED;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    align-items: center;
}

.button-delete {
    background-color: #F64E5B;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    align-items: center;
}
