<p *ngIf="error">There was an error. Please try again.</p>
<div *ngIf="oneGear">
	<h2>{{oneGear.gear.title}}</h2>
  <img [src]="oneGear.gear.image_URL">
	<h3>Description:</h3>
  <p>{{oneGear.gear.description}}</p>
	<h3>Price:</h3>
  <p>{{oneGear.gear.price}}</p>
	<h3>Currently Available?</h3>
  <p>{{oneGear.gear.availability}}</p>
</div>
<div *ngIf="auth.user && auth.user.id != oneGear.gear.user_id" class="contact">
<button (click)='requestLoan(oneGear.gear)' class="button">Request To Loan</button>
<a href='mailto:{{oneGear.gear.user.email}}?body=Hello, &subject=Interested in borrowing your {{oneGear.gear.title}}'><button class="button">Contact {{oneGear.gear.user.email}}</button></a>
</div>
<br>
<h2 *ngIf="success">Your request has been submitted to the owner of this {{oneGear.gear.title}}!</h2>
<a *ngIf="auth.user" routerLink="/my-dashboard">Return to Dashboard</a>
<a *ngIf="!auth.user" routerLink="/gear">Return to Gear</a>
